.choices {
    width: 400px;
    margin: 50px auto ; 
    border: 3px solid green;
    padding: 10px; 
    display: flex;
    justify-content: center;
}

button {
    margin: auto;
}

.results { 
    border: 3px solid blue;
    width: 500px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.score {
    border: 3px solid blue;
    width: 300px;
    margin: 50px auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}